{% extends 'base.html' %}

{% block content %}
    <!-- Main, current day weather -->
        <div class="Container Card">
            <div class="Daily">
                <div class="locaton">
                    <h2>Canoga Park, CA</h2>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="Data">
                    <div class="CurrentTemp">
                        <p>Sunny</p>
                        <p>86°</p>
                    </div>
                    <div class="MinMax">
                        <p>100°/71°</p>
                        <p>Feels like 98°/68°</p>
                        <p>Precipitation: 0%</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Current Hourly Weather -->
        <div class="Container">
            <div class="Hourly">
                <div class="Time">
                    <p>1PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>2PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>3PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>4PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>5PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>6PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>7PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Hourly">
                <div class="Time">
                    <p>8PM</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                </div>
                <div class="MinMax">
                    <p>101°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
        </div>
        <!-- Daily Forecast -->
        <div class="Container Upcoming-Days">
            <div class="Forecast">
                <div class="Date">
                    <p>Monday</p>
                    <p>7/17</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Tuesday</p>
                    <p>7/18</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Wednesday</p>
                    <p>7/19</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Thursday</p>
                    <p>7/20</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Friday</p>
                    <p>7/21</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Saturday</p>
                    <p>7/22</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Sunday</p>
                    <p>7/23</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Monday</p>
                    <p>7/24</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Tuesday</p>
                    <p>7/18</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Wednesday</p>
                    <p>7/19</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Thursday</p>
                    <p>7/20</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Friday</p>
                    <p>7/21</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Saturday</p>
                    <p>7/22</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Sunday</p>
                    <p>7/23</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
            <div class="Forecast">
                <div class="Date">
                    <p>Monday</p>
                    <p>7/24</p>
                </div>
                <div class="WeatherIcon">
                    <img src="https://icons.something"/>
                    <p>Sunny</p>
                </div>
                <div class="MinMax">
                    <p>100°/71°</p>
                    <p>Precipitation: 1%</p>
                </div>
            </div>
        </div>
{% endblock %}