{% extends 'base.html' %}

{% block content %}
    <!-- Main, current day weather -->
        <div class="Container Card">
            <div class="Daily">
                <div class="locaton">
                    <h2>{{ daily['location'] }}</h2>
                </div>
                <div class="WeatherIcon">
                    <img src="{{ daily['icon_url'] }}"/>
                </div>
                <div class="Data">
                    <div class="CurrentTemp">
                        <p>{{ daily['classification'] }}</p>
                        <p>{{ daily['current_temp'] }}</p>
                        <p>Feels like {{ daily['apparent_temp'] }}</p>
                    </div>
                    <div class="MinMax">
                        <p>{{ daily['max_temp'] }}/{{ daily['min_temp'] }}</p>
                        <p>Precipitation: {{ daily['precipitation'] }}%</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Current Hourly Weather -->
{% for hour in hourly %}
        <div class="Container">
            <div class="Hourly">
                <div class="Time">
                    <p>{{ hour['time'] }}</p>
                </div>
                <div class="WeatherIcon">
                    <img src="{{ hour['icon_url'] }}"/>
                </div>
                <div class="MinMax">
                    <p>{{ hour['temp'] }}</p>
                    <p>Precipitation: {{ hour['precipitation'] }}%</p>
                </div>
            </div>
        </div>
{% endfor %}
{% for day in forecast %}
        <!-- Daily Forecast -->
        <div class="Container Upcoming-Days">
            <div class="Forecast">
                <div class="Date">
                    <p>{{ day['day'] }}</p>
                    <p>{{ day['date'] }}</p>
                </div>
                <div class="WeatherIcon">
                    <img src="{{ day['icon_url'] }}"/>
                    <p>{{ day['classification'] }}</p>
                </div>
                <div class="MinMax">
                    <p>{{ day['max_temp'] }}/{{ day['min_temp'] }}</p>
                    <p>Precipitation: {{ day['precipitation'] }}%</p>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}