{% extends 'base.html' %}

{% block content %}
    <!-- Main, current day weather -->
        <div class="Container Card">
            <div class="Daily" style="background-image: url({{ today['background_image'] }});">
                <div class="locaton">
                    <h2>{{ today['location'] }}</h2>
                </div>
                <img class="WeatherIcon" src="{{ today['icon_url'] }}"/>
                <div class="Data">
                    <div class="CurrentTemp">
                        <p>{{ today['classification'] }}</p>
                        <p>{{ today['current_temp'] }}</p>
                        <p>Feels like {{ today['apparent_temp'] }}</p>
                    </div>
                    <div class="MinMax">
                        <p>{{ today['max_temp'] }}/{{ today['min_temp'] }}</p>
                        <p>Precipitation: {{ today['precipitation'] }}%</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Current Hourly Weather -->
{% for hour in hourly %}
        <div class="Container">
            <div class="Hourly">
                <div class="Time">
                    <p>{{ hour['time'] }}</p>
                </div>
                <img class="WeatherIcon" src="{{ hour['icon_url'] }}"/>
                <div class="MinMax">
                    <p>{{ hour['temp'] }}</p>
                    <p>Precipitation: {{ hour['precipitation'] }}%</p>
                </div>
            </div>
        </div>
{% endfor %}
{% for day in daily %}
        <!-- Daily Forecast -->
        <div class="Container Upcoming-Days">
            <div class="Forecast">
                <div class="Date">
                    <p>{{ day['day'] }}</p>
                    <p>{{ day['date'] }}</p>
                </div>
                <img class="WeatherIcon" src="{{ day['icon_url'] }}"/>
                <p>{{ day['classification'] }}</p>
                <div class="MinMax">
                    <p>{{ day['max_temp'] }}/{{ day['min_temp'] }}</p>
                    <p>Precipitation: {{ day['precipitation'] }}%</p>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}